NEXT_PUBLIC_AZURE_CLIENT_ID=your-azure-app-client-id
NEXT_PUBLIC_AZURE_TENANT_ID=your-azure-tenant-id
AZURE_CLIENT_SECRET=your-azure-client-secret
NEXT_PUBLIC_REDIRECT_URI=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
ENABLE_CRON=false
